*{
    margin: 0 0;
    padding: 0 0;
}

#more{
    height: 100%;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
}

#less{
    height: 100%;
    width: 80%;
    display: flex;
}

#potos{
    width: 30%;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
}

#tails{
    padding: 20px 30px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#lab{
    width: 100%;
    display: flex;
    margin: 10px 0px;
}

#lbs{
    background-color: rgba(138, 43, 226, 0.1);
    margin-right: 15px;
    height: 40px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: blueviolet;
    font-weight: 600;
}

#pri{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

#pay{
    display: flex;
    align-items: center;
    height: 50px;
    width: 200px;
    justify-content: center;
    background-color: blueviolet;
    color: white;
    border: 1px solid #f6f6f6;
    border-radius: 10px;
    margin: 0xp 3px;
}

#pay:hover{
    background-color: rgba(138,43,226,0.8);
    cursor: pointer;
}

#unique{
    margin: 10px 0px;
}

#auth{
    margin: 10px 0px;
}

#cst{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#ano{
    width: 100%;
}

#descstore{
    width: 325px;
    display: flex;
    justify-content: space-between;
}

#descfavs
{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #f6f6f6;
}

#favsbtn{
    width: 50px;
    border: none;
}

#descsel{
    width: 70px;
    height: 50px;
    outline: none;
    border: 2px solid #f6f6f6;
    margin-right: 2px;
    padding: 2px 5px;
}

#descopt{
    display: flex;
    align-items: center;
}