@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Poppins';
}

#con{
    height: 100%;
    width: 100%;
    padding: 10px 20px;
}

#mans{
    height: 100%;
    width: 100%;
    border: 1px solid #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 15px;
}

#logo{
    display: flex;
}

#szs{
    font-size: 2rem;
    padding-top: 3px;
    color: blueviolet;
    font-weight: 600;
    margin-right: 3px;
}

#lks{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

#icons{
    font-size: 2rem;
    margin: 0px 2px;
}

#icons:hover{
    cursor: pointer;
    color: blueviolet;
}

#link{
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}
#link:hover{
    cursor: pointer;
    color: blueviolet;
}

#hv{
    display: flex;
    align-items: center;
}

#hv:hover{
    cursor: pointer;
    color: blueviolet;
}
