

#orderscon{
    width: 100%;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#orderdiv{
    width: 100%;
    border: 2px solid #f6f6f6;
    margin: 20px 0px;
}

#orderhd{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

#orderhd:hover{
    cursor: pointer;
}

#sze{
    font-size: 2rem;
}

#discont{
    padding: 20px 30px;
    border: 2px solid #f6f6f6;
}

#orderlst{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    align-items: center;
}