@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

#starcon{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}


#staricon{
    color: #e6e6e6;
}

#staricon:hover{
    cursor: pointer;
}